<div>
  <%= @user.name %>様 マイページ
</div>
<div>
  <%= link_to 'ユーザー情報を編集する', edit_user_path(current_user) %>
</div>
<div class='top-page-btn'>
  <%= link_to 'トップページへ戻る', root_path, class:"top-page-link-btn" %>
</div>

<div class="favorites">
  <h1>お気に入り登録  一覧</h1>
  <% if @favorites.exists? %>
    <% @favorites.each do |favorite| %>
      <div class="favorite">
        <div class="">
          正式品番：<%= favorite.item.name %>
        </div>
        <div class="">
          登録日：<%= favorite.created_at.strftime('%Y/%m/%d')%>
        </div>
        <div class="">
          <%=link_to "お気に入りを解除する", item_favorites_path(favorite.item.id), method: :delete, id: "favorite_delete"%>
        </div>
      </div>
    <% end %>
  <% else %>
    <div>
      お気に入りにしているデータはありません。
    </div>
  <% end %>
</div>